@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@layer base {
    @font-face {
        font-family: "CCSmashOpenRegular";
        src: url('/CCSmashOpenRegular.otf') format('opentype');
    }

    @font-face {
        font-family: "CCSmashRegular";
        src: url('/CCSmashRegular.otf') format('opentype');
    }
}

@theme {
    --font-michroma: 'Michroma', sans-serif;
    --font-primary: 'Outfit', sans-serif;
    --font-ccsmash: 'CCSmashOpenRegular', sans-serif;
    --font-ccsmashRegular: 'CCSmashRegular', sans-serif;
    --color-white-primary: #F5FEFF;
    --color-dark-primary: #19242E;
    --color-dark-high: #090D10;
}

body{
    @apply font-ccsmashRegular;
}
